*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

#showBookDialog{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#showBookDialog:hover{
    background-color:rgb(204, 88, 88);
}

#bookDialog{
    padding: 60px;
    width: 200px;
    margin: auto;
} 

.books{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.2fr));
    margin: 40px; 
}

